#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens192 --onboot=off --ipv6=auto --no-activate
network  --hostname=ilgar-3381

# Root password
rootpw --iscrypted $6$GLiop/c7LEFeljT1$6QvXvDFQJPZtW8eKqSj6iT3WPBZf3bNhJ2D5nghwDBoGrbRTot7zLrubG2zIA5YLUZQM7JAnvibNoTpn9e42L0
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Baku --isUtc --nontp
user --groups=wheel --name=ilgarg --password=$6$DeVcylcfjz8xnVQx$PnyJpy4ynWcPZYRGDl9YNSgyFJe3/1QB5o7mtLb/YUZy0XUl8a.grkfxtj3an3jx35.f6cnWHnq1gB4bjeD6t1 --iscrypted --gecos="ilgarg"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel --drives=sda

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
